body {
    background-image: url('hotel-wallpaper-black.png');
    color: #f7ebec;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    
}
main {
    
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
header,
footer {
    border: 1px solid #ddbdd5;
    border-radius: 20px;
    background-color: #ac9fbb54;
    height: 85px;
    text-align: center;
    margin: 5px;

}
section, aside{
    border: 1px solid #ddbdd5;
    border-radius: 20px;
    background-color: #ac9fbb54;
    margin: 5px;
    text-align: center;
}
section {
    width: 75%;
    padding: 5px;
}
aside {
    width: 25%;
}
a{
    display: inline-block;
    color: white;
    text-decoration: none;
    position: relative;
    padding: 5px;
  }
  
  a::after{
    content: "";
    background: white;
    mix-blend-mode: exclusion;
    width: calc(100% + 20px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  a:hover::after{
    height: calc(100% + 8px)
  }
  #picture1 {
      width: 150px;
      height: auto;
      border-radius: 50%;
      border: solid #ddbdd5 2px;
      margin-top: 20px;
  }
  #about-me-pic{
      width: 150px;
      height:auto;
      border: #ddbdd5 solid 2px;
  }
